# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Environments
.venv/
venv/
ENV/
env/
graphenv/

# Streamlit cache
.streamlit/

# Ignore everything in data/ and img/, but allow required files
data/*
!data/*.pkl
!data/*.graphml
!data/*.ttl

img/*
!img/*.pkl
